@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html>
    <head>
        <title>Samson</title>
    </head>
    <body>
        
        @Umbraco.RenderMacro("Logo")
	
		@Umbraco.RenderMacro("PrimaryNavigation")
    
        @Umbraco.RenderMacro("ArticlesListing")

    </body>
</html>