@model Samson.Website.Models.TagsModel

@if (Model.Tags.Any())
{ 
    <h3>Tags</h3>
    
    <ul>
        @foreach(var item in Model.Tags)
        {
            <li>
                <a href="@(Model.HubUrlWithTagQueryString + Server.UrlEncode(item))">
                    @item
                </a>
            </li>
        }
    </ul>
}